{% set active = true if url == '/impressum/' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{title}}</title>
  <link rel="icon" type="image/x-icon" href="/assets/runkunkun_logo.svg">
  {% block css %}
<link rel="stylesheet" href="/styles/style.css" />
{% endblock %}
</head>
<body class="bg-slate-800">
  {{ comp.navbar({url: url}) | safe}}
  <div class="flex flex-row items-center justify-center bg-slate-800 w-full text-slate-100">
  <div class="flex flex-row items-center justify-center md:w-7/12 sm:w-9/12 w-11/12 mt-10 mb-10">
  {{ content | safe }}
  </div>
  </div>
</body>
<footer class="flex flex-row items-center justify-center bg-slate-900 w-screen text-slate-100">
  <a href="/impressum" class="{% if active %}border-b-2 border-slate-500{% endif %}">Impressum</a>
</footer>
</html>