---
layout: layouts/layout.njk
title: Impressum
---
<div class="flex flex-col items-start justify-center w-full space-y-1">
        <p>Impressum</p>
        <p>Lukas, Kurth</p>
        <p>An der Josefsfhöhe 45</p>
        <p>53117 Bonn</p>
        <p>Kontaktaufnahme</p>
        <p>lukas98kurth@protonmail.com</p>
</div>